<md-card class="article">
    <md-card-header>
        <md-card-title>{{ article.title }}</md-card-title>
        <md-card-subtitle>{{ article.header }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{ article.picture }}">
    <md-card-content>
        <p>{{ article.content }}</p>
    </md-card-content>
    <md-card-actions>
        <button class="more-button" md-raised-button color="primary" [routerLink]="['/home', 'comments', article.id]">Voir plus</button>
    </md-card-actions>
</md-card>
