.articles {
  padding: 25px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 740px) {
  .add-button{
    position:fixed;
    bottom:20px;
    right:20px;
  }
}

@media only screen and (min-width: 740px) {
  .add-button{
    position:fixed;
    bottom:40px;
    right:40px;
  }
}

.add-button md-icon {
  direction: rtl;
}